-- seed_Customers_Invoices_D89EB638.sql
-- Ajoute 10 clients + 5 factures client (avec lignes) pour la compagnie
-- D89EB638-6B05-443D-B1C9-01A6316443BF via les procs de production
-- s0021InsertParty (Type=1 CLIENT) et s0040SaveInvoiceItems (@DocumentType='CLIENT').
SET NOCOUNT ON;
SET XACT_ABORT ON;
SET QUOTED_IDENTIFIER ON;

DECLARE @C uniqueidentifier = 'D89EB638-6B05-443D-B1C9-01A6316443BF';
DECLARE @tmp TABLE (PartyId INT);
DECLARE @ids TABLE (rn INT IDENTITY(1,1), PartyId INT, PartyGUID uniqueidentifier);
DECLARE @dIssue DATETIME = '2026-07-15';
DECLARE @dDue   DATETIME = '2026-08-14';

BEGIN TRANSACTION;

-- ===== 10 CLIENTS =====
DECLARE @names TABLE (rn INT IDENTITY(1,1), Name varchar(500), Disp varchar(200));

DECLARE @i INT = 1, @max INT, @nm varchar(500), @dp varchar(200), @pid INT;
SELECT @max = MAX(rn) FROM @names;
WHILE @i <= @max
BEGIN
    SELECT @nm = Name, @dp = Disp FROM @names WHERE rn = @i;
    DELETE FROM @tmp;
    INSERT INTO @tmp
    EXEC dbo.s0021InsertParty @CompanyGUID=@C, @Origin=1, @Note='',
         @DisplayName=@dp, @Type=1, @Name=@nm, @PartyCodeiD=1,
         @TPS='', @TVQ='', @WebSite='';
    SELECT @pid = PartyId FROM @tmp;
    INSERT INTO @ids (PartyId, PartyGUID) SELECT @pid, PartyGUID FROM dbo.T050Party WHERE Id = @pid;
    SET @i = @i + 1;
END

-- ===== 5 FACTURES CLIENT (lignes via TVP ; ProductId = produits déjà créés) =====
DECLARE @pg1 uniqueidentifier, @it1 dbo.TVP_InvoiceItem_v6;
SELECT @pg1 = PartyGUID FROM @ids WHERE rn = 1;
INSERT INTO @it1 (Id,ProductId,AccountId,Description,Qty,UnitPrice,Amount,Dirty,Deleted,Ordre,TaxeStatus) VALUES
 (-1, 206, 8149, 'Consultation stratégique', 3, 150.00, 450.00, 1, 0, 1, 1),
 (-2, 210, 8148, 'Support technique mensuel', 1, 75.00,  75.00, 1, 0, 2, 1);
EXEC dbo.s0040SaveInvoiceItems @InvoiceId=0, @toPost=0, @PartyGUID=@pg1,
     @DueDate=@dDue, @IssueDate=@dIssue, @DocumentType='CLIENT', @CompanyGUID=@C, @Items=@it1;

DECLARE @pg2 uniqueidentifier, @it2 dbo.TVP_InvoiceItem_v6;
SELECT @pg2 = PartyGUID FROM @ids WHERE rn = 2;
INSERT INTO @it2 (Id,ProductId,AccountId,Description,Qty,UnitPrice,Amount,Dirty,Deleted,Ordre,TaxeStatus) VALUES
 (-1, 207, 8148, 'Développement logiciel', 10, 120.00, 1200.00, 1, 0, 1, 1);
EXEC dbo.s0040SaveInvoiceItems @InvoiceId=0, @toPost=0, @PartyGUID=@pg2,
     @DueDate=@dDue, @IssueDate=@dIssue, @DocumentType='CLIENT', @CompanyGUID=@C, @Items=@it2;

DECLARE @pg3 uniqueidentifier, @it3 dbo.TVP_InvoiceItem_v6;
SELECT @pg3 = PartyGUID FROM @ids WHERE rn = 3;
INSERT INTO @it3 (Id,ProductId,AccountId,Description,Qty,UnitPrice,Amount,Dirty,Deleted,Ordre,TaxeStatus) VALUES
 (-1, 208, 8144, 'Licence logicielle annuelle', 1, 499.00, 499.00, 1, 0, 1, 1);
EXEC dbo.s0040SaveInvoiceItems @InvoiceId=0, @toPost=0, @PartyGUID=@pg3,
     @DueDate=@dDue, @IssueDate=@dIssue, @DocumentType='CLIENT', @CompanyGUID=@C, @Items=@it3;

DECLARE @pg4 uniqueidentifier, @it4 dbo.TVP_InvoiceItem_v6;
SELECT @pg4 = PartyGUID FROM @ids WHERE rn = 4;
INSERT INTO @it4 (Id,ProductId,AccountId,Description,Qty,UnitPrice,Amount,Dirty,Deleted,Ordre,TaxeStatus) VALUES
 (-1, 209, 8150, 'Formation sur mesure (jour)', 2, 800.00, 1600.00, 1, 0, 1, 1);
EXEC dbo.s0040SaveInvoiceItems @InvoiceId=0, @toPost=0, @PartyGUID=@pg4,
     @DueDate=@dDue, @IssueDate=@dIssue, @DocumentType='CLIENT', @CompanyGUID=@C, @Items=@it4;

DECLARE @pg5 uniqueidentifier, @it5 dbo.TVP_InvoiceItem_v6;
SELECT @pg5 = PartyGUID FROM @ids WHERE rn = 5;
INSERT INTO @it5 (Id,ProductId,AccountId,Description,Qty,UnitPrice,Amount,Dirty,Deleted,Ordre,TaxeStatus) VALUES
 (-1, 210, 8148, 'Support technique mensuel', 5, 75.00,  375.00, 1, 0, 1, 1),
 (-2, 206, 8149, 'Consultation stratégique', 1, 150.00, 150.00, 1, 0, 2, 1);
EXEC dbo.s0040SaveInvoiceItems @InvoiceId=0, @toPost=0, @PartyGUID=@pg5,
     @DueDate=@dDue, @IssueDate=@dIssue, @DocumentType='CLIENT', @CompanyGUID=@C, @Items=@it5;

COMMIT TRANSACTION;

PRINT '10 clients + 5 factures client insérés pour ' + CAST(@C AS varchar(50));
