-- seed_5Suppliers_D89EB638.sql
-- Insère 5 fournisseurs d'exemple + une adresse de facturation chacun
-- pour la compagnie D89EB638-6B05-443D-B1C9-01A6316443BF.
-- Utilise les stored procs de production s0021InsertParty et s0015InsertPartyAddress.
SET NOCOUNT ON;
SET XACT_ABORT ON;
SET QUOTED_IDENTIFIER ON;

DECLARE @Company uniqueidentifier = 'D89EB638-6B05-443D-B1C9-01A6316443BF';
DECLARE @Ids TABLE (PartyId int);
DECLARE @PartyId int;

BEGIN TRANSACTION;

-- 1) Distribution Alimentaire Québec inc. (Québec)
DELETE FROM @Ids;
INSERT INTO @Ids
EXEC dbo.s0021InsertParty @CompanyGUID=@Company, @Origin=1, @Note='',
     @DisplayName='Distribution Alim. QC', @Type=2,
     @Name='Distribution Alimentaire Québec inc.', @PartyCodeiD=2,
     @TPS='123456789 RT0001', @TVQ='1023456789 TQ0001', @WebSite='distalimqc.ca';
SELECT @PartyId = PartyId FROM @Ids;
EXEC dbo.s0015InsertPartyAddress @PartyId=@PartyId, @AddressTypeId=1, @Name='Siège social',
     @Address1='1450, boulevard Charest Ouest', @Address2='', @Note='',
     @City='Québec', @PostalCode='G1N 2E4', @CountryId=1, @StateId=2;

-- 2) Groupe Électrique Laurentides (Saint-Jérôme)
DELETE FROM @Ids;
INSERT INTO @Ids
EXEC dbo.s0021InsertParty @CompanyGUID=@Company, @Origin=1, @Note='',
     @DisplayName='Électrique Laurentides', @Type=2,
     @Name='Groupe Électrique Laurentides', @PartyCodeiD=2,
     @TPS='234567890 RT0001', @TVQ='1034567890 TQ0001', @WebSite='electrolaurentides.ca';
SELECT @PartyId = PartyId FROM @Ids;
EXEC dbo.s0015InsertPartyAddress @PartyId=@PartyId, @AddressTypeId=1, @Name='Siège social',
     @Address1='875, rue Saint-Georges', @Address2='', @Note='',
     @City='Saint-Jérôme', @PostalCode='J7Z 5B7', @CountryId=1, @StateId=2;

-- 3) Papeterie Commerciale Montréal (Montréal)
DELETE FROM @Ids;
INSERT INTO @Ids
EXEC dbo.s0021InsertParty @CompanyGUID=@Company, @Origin=1, @Note='',
     @DisplayName='Papeterie MTL', @Type=2,
     @Name='Papeterie Commerciale Montréal', @PartyCodeiD=2,
     @TPS='345678901 RT0001', @TVQ='1045678901 TQ0001', @WebSite='papeteriemtl.ca';
SELECT @PartyId = PartyId FROM @Ids;
EXEC dbo.s0015InsertPartyAddress @PartyId=@PartyId, @AddressTypeId=1, @Name='Siège social',
     @Address1='2320, rue Notre-Dame Ouest', @Address2='Bureau 200', @Note='',
     @City='Montréal', @PostalCode='H3J 1N4', @CountryId=1, @StateId=2;

-- 4) Services Sanitaires Rive-Sud (Longueuil)
DELETE FROM @Ids;
INSERT INTO @Ids
EXEC dbo.s0021InsertParty @CompanyGUID=@Company, @Origin=1, @Note='',
     @DisplayName='Sanitaire Rive-Sud', @Type=2,
     @Name='Services Sanitaires Rive-Sud', @PartyCodeiD=2,
     @TPS='456789012 RT0001', @TVQ='1056789012 TQ0001', @WebSite='sanitairers.ca';
SELECT @PartyId = PartyId FROM @Ids;
EXEC dbo.s0015InsertPartyAddress @PartyId=@PartyId, @AddressTypeId=1, @Name='Siège social',
     @Address1='560, boulevard Roland-Therrien', @Address2='', @Note='',
     @City='Longueuil', @PostalCode='J4H 4E7', @CountryId=1, @StateId=2;

-- 5) Quincaillerie Industrielle Beauce (Saint-Georges)
DELETE FROM @Ids;
INSERT INTO @Ids
EXEC dbo.s0021InsertParty @CompanyGUID=@Company, @Origin=1, @Note='',
     @DisplayName='Quinc. Beauce', @Type=2,
     @Name='Quincaillerie Industrielle Beauce', @PartyCodeiD=2,
     @TPS='567890123 RT0001', @TVQ='1067890123 TQ0001', @WebSite='quincbeauce.ca';
SELECT @PartyId = PartyId FROM @Ids;
EXEC dbo.s0015InsertPartyAddress @PartyId=@PartyId, @AddressTypeId=1, @Name='Siège social',
     @Address1='11500, 1re Avenue', @Address2='', @Note='',
     @City='Saint-Georges', @PostalCode='G5Y 2C9', @CountryId=1, @StateId=2;

COMMIT TRANSACTION;

PRINT '5 fournisseurs + adresses insérés pour ' + CAST(@Company AS varchar(50));
