-- seed_Products_Categories_D89EB638.sql
-- Ajoute 3 catégories de produits + 5 produits pour la compagnie
-- D89EB638-6B05-443D-B1C9-01A6316443BF via les procs de production
-- s0060InsertProductCategory et s0079InsertProduct.
SET NOCOUNT ON;
SET XACT_ABORT ON;
SET QUOTED_IDENTIFIER ON;

DECLARE @C uniqueidentifier = 'D89EB638-6B05-443D-B1C9-01A6316443BF';
DECLARE @tmp TABLE (Id INT);
DECLARE @catServ INT, @catMarch INT, @catConsult INT;

BEGIN TRANSACTION;

-- ===== 3 CATÉGORIES (CompteVente/CompteAchat = Id du plan comptable) =====

DELETE FROM @tmp;
INSERT INTO @tmp
EXEC dbo.s0060InsertProductCategory @CompanyGUID=@C, @Code='SERV',
     @Name='Services', @Description='Prestations de services',
     @CompteVente=8148, @CompteAchat=8169, @TaxeStatusDefault=1, @Actif=1;
SELECT @catServ = Id FROM @tmp;

DELETE FROM @tmp;
INSERT INTO @tmp
EXEC dbo.s0060InsertProductCategory @CompanyGUID=@C, @Code='MARCH',
     @Name='Marchandises', @Description='Produits revendus',
     @CompteVente=8144, @CompteAchat=8161, @TaxeStatusDefault=1, @Actif=1;
SELECT @catMarch = Id FROM @tmp;

DELETE FROM @tmp;
INSERT INTO @tmp
EXEC dbo.s0060InsertProductCategory @CompanyGUID=@C, @Code='CONSULT',
     @Name='Consultation', @Description='Services de consultation',
     @CompteVente=8149, @CompteAchat=8169, @TaxeStatusDefault=1, @Actif=1;
SELECT @catConsult = Id FROM @tmp;

-- ===== 5 PRODUITS (CategoryId = Id catégorie ; Compte* = numéro de compte) =====

DELETE FROM @tmp;
INSERT INTO @tmp
EXEC dbo.s0079InsertProduct @CompanyGUID=@C, @Name='Consultation stratégique',
     @Description='Accompagnement stratégique, à l''heure', @Prix=150.00, @DefaultQty=1,
     @AddToNewInvoice=0, @NoTaxe=0, @CategoryId=@catConsult,
     @CompteVente='4110', @CompteAchat='5200', @TaxeStatusId=1, @Actif=1;

DELETE FROM @tmp;
INSERT INTO @tmp
EXEC dbo.s0079InsertProduct @CompanyGUID=@C, @Name='Développement logiciel',
     @Description='Développement d''application sur mesure, à l''heure', @Prix=120.00, @DefaultQty=1,
     @AddToNewInvoice=0, @NoTaxe=0, @CategoryId=@catServ,
     @CompteVente='4100', @CompteAchat='5200', @TaxeStatusId=1, @Actif=1;

DELETE FROM @tmp;
INSERT INTO @tmp
EXEC dbo.s0079InsertProduct @CompanyGUID=@C, @Name='Licence logicielle annuelle',
     @Description='Abonnement logiciel, 1 an', @Prix=499.00, @DefaultQty=1,
     @AddToNewInvoice=0, @NoTaxe=0, @CategoryId=@catMarch,
     @CompteVente='4000', @CompteAchat='5000', @TaxeStatusId=1, @Actif=1;

DELETE FROM @tmp;
INSERT INTO @tmp
EXEC dbo.s0079InsertProduct @CompanyGUID=@C, @Name='Formation sur mesure (jour)',
     @Description='Journée de formation en entreprise', @Prix=800.00, @DefaultQty=1,
     @AddToNewInvoice=0, @NoTaxe=0, @CategoryId=@catServ,
     @CompteVente='4120', @CompteAchat='5200', @TaxeStatusId=1, @Actif=1;

DELETE FROM @tmp;
INSERT INTO @tmp
EXEC dbo.s0079InsertProduct @CompanyGUID=@C, @Name='Support technique mensuel',
     @Description='Forfait de support technique, par mois', @Prix=75.00, @DefaultQty=1,
     @AddToNewInvoice=0, @NoTaxe=0, @CategoryId=@catServ,
     @CompteVente='4100', @CompteAchat='5200', @TaxeStatusId=1, @Actif=1;

COMMIT TRANSACTION;

PRINT '3 catégories + 5 produits insérés pour ' + CAST(@C AS varchar(50));
