<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- La chaîne de connexion « Paie » est dans ConnectionStrings.config, exclu de git parce qu'il peut contenir le mot de passe
       du serveur SQL. Pour le créer : copier ConnectionStrings.exemple.config sous ce nom. -->
  <connectionStrings configSource="ConnectionStrings.config" />

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!-- DÉVELOPPEMENT SEULEMENT : mots de passe courts permis. Retiré par Web.Release.config (minimum de 10 en production). -->

    <!-- Talons par courriel. Expéditeur : vide = courriel de la compagnie. -->
    <add key="Courriel:Expediteur" value="" />
    <!-- DÉVELOPPEMENT SEULEMENT : les courriels sont écrits en fichiers .eml dans ce dossier au lieu d'être envoyés.
         Retiré par Web.Release.config ; en production, configurer system.net/mailSettings ci-dessous. -->
    <add key="Courriel:DossierTest" value="~/App_Data/courriels" />
  </appSettings>

  <!-- Serveur SMTP de production (exiger TLS). Garder le mot de passe hors du dépôt : configSource ou variable du serveur.
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="paie@votre-domaine.ca">
        <network host="smtp.votre-fournisseur.ca" port="587" enableSsl="true" userName="..." password="..." />
      </smtp>
    </mailSettings>
  </system.net>
  -->

  <system.web>
    <compilation debug="true" strict="true" explicit="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" enableVersionHeader="false" />
    <globalization culture="fr-CA" uiCulture="fr-CA" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />

    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" defaultUrl="~/Default.aspx" name=".60secPaie" timeout="60" slidingExpiration="true"
             protection="All" requireSSL="false" cookieless="UseCookies" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>

    <sessionState timeout="60" cookieless="UseCookies" />
    <httpCookies httpOnlyCookies="true" />
    <customErrors mode="RemoteOnly" />

    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" viewStateEncryptionMode="Always">
      <namespaces>
        <add namespace="Paie60Sec.Web" />
      </namespaces>
    </pages>
  </system.web>

  <location path="Content">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="Referrer-Policy" value="same-origin" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
