# Build outputs
[Bb]in/
[Oo]bj/

# Visual Studio / Rider
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.DotSettings.user

# .NET
project.assets.json
*.nuget.g.props
*.nuget.g.targets
*.nuget.dgspec.json
project.nuget.cache
